body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #333;
  font-family: "Quicksand", sans-serif;

}

h1 {
  color: black;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.2em;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

p {
  color: black;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  margin: 10px 0;
}

h2 {
  color: #000000;
  font-weight: bold;
  margin-top: 20px;
}

a {
  color: chocolate;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.2em;
}

a:hover {
  color: #d2691e;
  text-decoration: underline;
}
