body {
  background-image: url(./img/images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: white;
  text-align: center;
}
p {
  color: lightyellow;
}
h2{
  color: black;
}
